<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624078817325-tl5uorhg90f9fnthmbt2ie3uq3tha3rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624078817325-tl5uorhg90f9fnthmbt2ie3uq3tha3rt</string>
	<key>API_KEY</key>
	<string>AIzaSyAf5eV2cF4oYYx06gRmpU81LkD7-naqQZk</string>
	<key>GCM_SENDER_ID</key>
	<string>624078817325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeAwayDashboard</string>
	<key>PROJECT_ID</key>
	<string>storeappliaction</string>
	<key>STORAGE_BUCKET</key>
	<string>storeappliaction.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624078817325:ios:5fa58d82b94536fd8a90a4</string>
</dict>
</plist>